@import url("https://fonts.googleapis.com/css2?family=Baloo+2&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Baloo 2", cursive;
}

*::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
}

.chats::-webkit-scrollbar {
  display: block !important;
  background: rgb(67, 67, 67) !important;
  width: 5px;
  scroll-behavior: smooth;
}
.chats::-webkit-scrollbar-thumb {
  background: rgb(163, 163, 163);
}


@media screen and (max-width: 768px) {
  .gridSystem {
    grid-template-columns: 270px 1fr !important;
    grid-template-areas: "main main" !important;
  }
  .gridnav {
    display: none;
  }
  .bannerBox {
    display: none !important;
  }
  .bannerchat {
    display: block !important;
  }
}
@media screen and (max-width: 576px) {
  /* .gridSystem {
    
  } */
  .gridnav {
    display: none;
  }
  .bannerBox {
    display: none !important;
  }
  .bannerchat {
    display: block !important;
  }
}
